@model CalendarioFutbol.DataAccess.Jugadores

@{
    ViewBag.Title = "Eliminar Jugador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas Sefuro de Eliminar al Jugador?</h3>
<div>
    <h4>Jugador:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Lista Jugadores", "Index")
        </div>
    }
</div>
